.dart_tool/
.idea/
.vscode/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.log
*.err
app_store_screenshots/

android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

macos/Pods/
